#team-container {
    text-align: center;
}

.member-node {
    min-width: 250px;
    width: 20%;
    max-width: 400px;
    display: inline-block;
    margin: 4% 5%;
    background-image: url("../img/ironblock.jpg");
    background-size: 100% 100%;
    padding-top: 15px;
    border-radius: 10px;
    border: solid 3px #5b443b;
}

#eisah-img {
    cursor: pointer;
}