.background {
    position: fixed;
    left: 0;
    right: 0;
    z-index: -1;

    background-image: url('../img/mcsky.jpg');
    width: 100%;
    height: 100%;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;

    -webkit-filter: brightness(15%) opacity(80%) grayscale(10%);
    -moz-filter: brightness(15%) opacity(80%) grayscale(10%);
    -o-filter: brightness(15%) opacity(80%) grayscale(10%);
    filter: brightness(15%) opacity(80%) grayscale(10%);
}

.page-wrapper {
    max-width: 1200px;
    min-width: 300px;
    padding-top: 10px;
    padding-bottom: 15px;
}

.fj-spacer-5 {
    width: 100%;
    height: 5px;
    margin: 0 0;
    padding: 0 0;
}

.fj-spacer-10 {
    width: 100%;
    height: 10px;
    margin: 0 0;
    padding: 0 0;
}

#body-wrapper {
    padding-top: 35px;
    padding-bottom: 35px;

    border-radius: 15px;
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.25), rgba(0, 0, 0, 0.25)), url("/farmer-john/imgmer-john/img/stone.jpg");


    box-shadow: 0 4px 8px 0 rgba(0, 0, 1, 0.8), 0 6px 20px 0 rgba(0, 0, 1, 0.7);
    -webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 1, 0.8), 0 6px 20px 0 rgba(0, 0, 1, 0.7);
    -moz-box-shadow: 0 4px 8px 0 rgba(0, 0, 1, 0.8), 0 6px 20px 0 rgba(0, 0, 1, 0.7);
    border-radius: 15px;
}