#stickied-content {
    width: 100%;
    margin: 0 0;
    padding: 0 0;
    -webkit-filter: brightness(95%);
    -moz-filter: brightness(95%);
    -o-filter: brightness(95%);
    filter: brightness(95%);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 1, 0.8), 0 6px 20px 0 rgba(0, 0, 1, 0.7);
    -webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 1, 0.8), 0 6px 20px 0 rgba(0, 0, 1, 0.7);
    -moz-box-shadow: 0 4px 8px 0 rgba(0, 0, 1, 0.8), 0 6px 20px 0 rgba(0, 0, 1, 0.7);
    border-radius: 15px;
}

#logo-bar {
    background-image: url('/img/logo_background.png');
    background-position: center;
    background-size: cover;

    padding-top: 4px;
    padding-bottom: 1px;

    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}

#logo-text {
    height: 100%;
    width: 100%;
    text-align: center;
}

#logo-farmer {
    padding-right: 10px;
    width: 343px;
    height: 80px;
}

#logo-john {
    padding-left: 10px;
    width: 236px;
    height: 80px;
}

#nav-bar {
    padding-top: 7px;
    padding-bottom: 7px;
    text-align: center;

    background-image: url('/img/logo_nav.png');
    background-position: center;
    background-size: cover;

    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;

    -webkit-filter: brightness(75%);
    -moz-filter: brightness(75%);
    -o-filter: brightness(75%);
    filter: brightness(75%);
}

.nav-button {
    min-width: 75px;
    width: 15%;
    max-width: 150px;
    height: 25px;
    background-image: url('/img/ironblock.jpg');
    display: inline-block;
    cursor: pointer;
    margin: 0 5px;

    color: black;
    font: 22px "Times New Roman";

    -webkit-filter: brightness(150%);
    -moz-filter: brightness(150%);
    -o-filter: brightness(150%);
    filter: brightness(150%);

    border-radius: 8px;
}